# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.db
*.sqlite3

# Dataset (face recognition)
dataset/

# Node
node_modules/
dist/
.cache/

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
